<% include blocks/header.ejs %>


<section>
    <div class="about-us-img-wrap">
        <img src="/public/img/about-us-img.png" alt="">
    </div>
    <div class="about-us">
        <div class="about-us-content my-container row">
            <div class="about-us-content-wrap col-lg-6">
                <h3 class="about-us-title"> О нас</h3>
                <p class="about-us-text">Когда сегодня на рынке строительных элементов идёт речь о воротах, дверях, коробках и приводах, то сразу подразумевается имя Hörmann – ведь именно немецкий концерн Hörmann является крупнейшим в Европе производителем и поставщиком этих изделий.
                    Основой корпоративной философии являются многолетний опыт под знаком инноваций, гарантированное качество и ориентация на потребности заказчиков.</p>
                <p class="about-us-text">Управление концерном Hörmann на сегодняшний день осуществляют внук и правнуки основателя концерна Августа Хёрманна т.е. третье и четвертое поколения. Компаньоны, несущие неограниченную ответственность, – это Томас Й. Хёрманн, Мартин Й. Хёрманн, а также Кристоф Хёрманн.</p>
            </div>
            <div class="about-us-content-wrap col-lg-6">
                <h3 class="about-us-title">Инновационные изделия</h3>
                <p class="about-us-text">История предприятия Hörmann началась в 50-е годы прошлого века с промышленного изготовления гаражных подъемно-поворотных ворот оригинальной конструкции – ворот Berry. Перспективное развитие нашей фирмы началось в 1960-е годы с производства компактных, открывающихся вертикально секционных ворот для гаражей, промышленных зданий и мастерских.</p>
                <p class="about-us-text">Ассортимент продукции с тех пор постоянно расширялся. Сегодня помимо известных классических моделей он включает в себя также рулонные, откатные и скоростные ворота, входные и внутренние двери, дверные коробки, приводы ворот и дверей, огнестойкие и дымонепроницаемые перегородки, перегрузочную технику, а также автоматические системы для сдвижных дверей и управления при въезде/выезде автомобилей.</p>
            </div>
        </div>
    </div>
</section>
<!--about-us slider-->
<section class="about-us-slider-section-wrap">
    <div class="about-us-slider-section">
        <div class="about-us-slider-content-wrap my-container row">
            <div class="col-xs-12 col-xl-6">
                <h3 class="about-us-slider-content-title">Производственные предприятия концерна Hörmann</h3>
                <p class="about-us-slider-content-text"><span>Hörmann KG Amshausen, Германия</span><br>
                    Подъемно-поворотные гаражные ворота Berry, гаражные рулонные ворота и гаражные двери в большом количестве вариантов исполнения из стали и дерева
                </p>
            </div>
            <div class="col-xs-12 col-xl-6 text-center">
                <div class="about-us-main-slider">
                    <div class="about-us-main-slider-item">
                        <img src="/public/img/about-us-slider-img.png" alt="">
                    </div>
                    <div class="about-us-main-slider-item">
                        <img src="/public/img/about-us-slider-img.png" alt="">
                    </div>
                    <div class="about-us-main-slider-item">
                        <img src="/public/img/about-us-slider-img.png" alt="">
                    </div>
                    <div class="about-us-main-slider-item">
                        <img src="/public/img/about-us-slider-img.png" alt="">
                    </div>
                    <div class="about-us-main-slider-item">
                        <img src="/public/img/about-us-slider-img.png" alt="">
                    </div>
                    <div class="about-us-main-slider-item">
                        <img src="/public/img/about-us-slider-img.png" alt="">
                    </div>
                    <div class="about-us-main-slider-item">
                        <img src="/public/img/about-us-slider-img.png" alt="">
                    </div>
                    <div class="about-us-main-slider-item">
                        <img src="/public/img/about-us-slider-img.png" alt="">
                    </div>
                </div>
                <div class="about-us-slider-arrows">
                    <div class="about-us-arrows about-us-arrow-prev"></div>
                    <div class="about-us-slider_modal_counter">
                        <span class="current"></span>
                        /
                        <span class="total"></span>
                    </div>
                    <div class="about-us-arrows about-us-arrow-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>



<% include blocks/contacts-form.ejs %>
<% include blocks/footer-container.ejs %>
<% include blocks/footer.ejs %>