
<% include blocks/header.ejs %>


<section class="news">
    <div class="container news-content-wrap">
        <h1 class="news-title">Новости</h1>
        <div class="row">
            <a href="/news" class="col-12  col-sm-6 news-content-item">
                <div class="img-cont">
                    <img class="news-item-img" src="/public/img/new_home1.png" alt="">
                </div>
                <h3 class="news-item-title">Тут будет заголовок новости</h3>
                <p class="news-item-date">10 февраля, 2018</p>
                <span class="news-item-line"></span>
            </a>
            <a href="/news" class="col-12  col-sm-6 news-content-item">
                <div class="img-cont">
                    <img class="news-item-img" src="/public/img/new_home1.png" alt="">
                </div>
                <h3 class="news-item-title">Тут будет заголовок новости</h3>
                <p class="news-item-date">10 февраля, 2018</p>
                <span class="news-item-line"></span>
            </a>
            <a href="/news" class="col-12  col-sm-6 news-content-item">
                <div class="img-cont">
                    <img class="news-item-img" src="/public/img/new_home1.png" alt="">
                </div>
                <h3 class="news-item-title">Тут будет заголовок новости</h3>
                <p class="news-item-date">10 февраля, 2018</p>
                <span class="news-item-line"></span>
            </a>
            <a href="/news" class="col-12  col-sm-6 news-content-item">
                <div class="img-cont">
                    <img class="news-item-img" src="/public/img/new_home1.png" alt="">
                </div>
                <h3 class="news-item-title">Тут будет заголовок новости</h3>
                <p class="news-item-date">10 февраля, 2018</p>
                <span class="news-item-line"></span>
            </a>
            <a href="/news" class="col-12  col-sm-6 news-content-item">
                <div class="img-cont">
                    <img class="news-item-img" src="/public/img/new_home1.png" alt="">
                </div>
                <h3 class="news-item-title">Тут будет заголовок новости</h3>
                <p class="news-item-date">10 февраля, 2018</p>
                <span class="news-item-line"></span>
            </a>
            <a href="/news" class="col-12  col-sm-6 news-content-item">
                <div class="img-cont">
                    <img class="news-item-img" src="/public/img/new_home1.png" alt="">
                </div>
                <h3 class="news-item-title">Тут будет заголовок новости</h3>
                <p class="news-item-date">10 февраля, 2018</p>
                <span class="news-item-line"></span>
            </a>
            <a href="/news" class="col-12  col-sm-6 news-content-item">
                <div class="img-cont">
                    <img class="news-item-img" src="/public/img/new_home1.png" alt="">
                </div>
                <h3 class="news-item-title">Тут будет заголовок новости</h3>
                <p class="news-item-date">10 февраля, 2018</p>
                <span class="news-item-line"></span>
            </a>
            <a href="/news" class="col-12  col-sm-6 news-content-item">
                <div class="img-cont">
                    <img class="news-item-img" src="/public/img/new_home1.png" alt="">
                </div>
                <h3 class="news-item-title">Тут будет заголовок новости</h3>
                <p class="news-item-date">10 февраля, 2018</p>
                <span class="news-item-line"></span>
            </a>

        </div>
    </div>
</section>




<% include blocks/contacts-form.ejs %>
<% include blocks/footer-container.ejs %>
<% include blocks/footer.ejs %>