<% include blocks/header.ejs %>

<div class="height_k_100">
<section class="contacts my-container">
    <div class="contacts-content-wrap row">
        <div class="col-lg-5">
            <div class="contacts-form-wrap">
                <h1 class="contacts-form-title">Получить просчет</h1>
                <form class="contacts-form" action="">
                    <div class="box_kkk">
                        <input class="contacts-form-item" id="input_1_k" type="text" name="">
                        <label class="label_for" for="input_1_k">Имя</label>
                    </div>
                    <div class="box_kkk">
                        <input class="contacts-form-item" id="input_2_k" type="text" name="">
                        <label class="label_for" for="input_2_k">Номер телефона</label>
                    </div>
                    <div class="box_kkk">
                        <input class="contacts-form-item" id="input_3_k" type="text" name="">
                        <label class="label_for" for="input_3_k">Почта</label>
                    </div>
                    <div class="box_kkk">
                        <input class="contacts-form-item" id="input_4_k" type="text" name="">
                        <label class="label_for" for="input_4_k">Описание</label>
                    </div>
                    <!--
                    <input type="submit" class="contacts-form-item-btn" value="Отправить">-->
                    <div class="estimation_k_container_box">
                        <input type="submit" value="Отправить" class="estimation_k_container_btn">
                    </div>
                </form>
            </div>
        </div>
        <div class="offset-lg-1 col-lg-6 contacts-content-box">
            <div class="row contacts-address-box text-center text-lg-left">
                <div class="col-lg-6">
                  <h3 class="contacts-title">Киев</h3>
                    <ul class="contacts-list">
                        <li class="contacts-list-item">ул. Чумацкая, 4 г. Борисполь Киевская обл., 08300 Украина</li>
                        <li class="contacts-list-item">тел.: +38 044 406 10 00</li>
                        <li class="contacts-list-item">тел.: +38 044 33 111 99</li>
                        <li class="contacts-list-item">факс: +38 044 406 10 01</li>
                        <li class="contacts-list-item">E-Mail: mail＠hoermann.com.ua</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3 class="contacts-title">Киев</h3>
                    <ul class="contacts-list">
                        <li class="contacts-list-item">ул. Чумацкая, 4 г. Борисполь Киевская обл., 08300 Украина</li>
                        <li class="contacts-list-item">тел.: +38 044 406 10 00</li>
                        <li class="contacts-list-item">тел.: +38 044 33 111 99</li>
                        <li class="contacts-list-item">факс: +38 044 406 10 01</li>
                        <li class="contacts-list-item">E-Mail: mail＠hoermann.com.ua</li>
                    </ul>
                </div>
            </div>
            <div class="map-place">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2544.79825107576!2d30.91279325139289!3d50.370316300915825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4e87e2c644b87%3A0x4467bba8d178f470!2z0YPQuy4g0KfRg9C80LDRhtC60LDRjywgNCwg0JHQvtGA0LjRgdC_0L7Qu9GMLCDQmtC40LXQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAwODMwMQ!5e0!3m2!1sru!2sua!4v1547450898285"  frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</section>


<% include blocks/footer-container.ejs %>

</div>
<% include blocks/footer.ejs %>