<% include blocks/header.ejs %>

<section class="gallery_k">
    <div class="wrapper_k">
        <p class="gallery_k_title">Наши работы</p>
        <div class="gallery_k_grid">
            <div class="gallery_k_grid_item" data-gallery="">
                <img src="/public/img/gallery_k.png" alt="" class="gallery_k_grid_item_img">
                <p class="gallery_k_grid_item_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
            </div>
            <div class="gallery_k_grid_item">
                <img src="/public/img/gallery_k.png" alt="" class="gallery_k_grid_item_img">
                <p class="gallery_k_grid_item_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
            </div>
            <div class="gallery_k_grid_item">
                <img src="/public/img/gallery_k.png" alt="" class="gallery_k_grid_item_img">
                <p class="gallery_k_grid_item_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
            </div>
            <div class="gallery_k_grid_item">
                <img src="/public/img/gallery_k.png" alt="" class="gallery_k_grid_item_img">
                <p class="gallery_k_grid_item_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
            </div>
            <div class="gallery_k_grid_item">
                <img src="/public/img/gallery_k.png" alt="" class="gallery_k_grid_item_img">
                <p class="gallery_k_grid_item_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
            </div>
            <div class="gallery_k_grid_item">
                <img src="/public/img/gallery_k.png" alt="" class="gallery_k_grid_item_img">
                <p class="gallery_k_grid_item_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
            </div>
            <div class="gallery_k_grid_item">
                <img src="/public/img/gallery_k.png" alt="" class="gallery_k_grid_item_img">
                <p class="gallery_k_grid_item_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
            </div>
            <div class="gallery_k_grid_item">
                <img src="/public/img/gallery_k.png" alt="" class="gallery_k_grid_item_img">
                <p class="gallery_k_grid_item_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
            </div>
            <div class="gallery_k_grid_item">
                <img src="/public/img/gallery_k.png" alt="" class="gallery_k_grid_item_img">
                <p class="gallery_k_grid_item_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
            </div>
            <div class="gallery_k_grid_item">
                <img src="/public/img/gallery_k.png" alt="" class="gallery_k_grid_item_img">
                <p class="gallery_k_grid_item_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
            </div>
            <div class="gallery_k_grid_item">
                <img src="/public/img/gallery_k.png" alt="" class="gallery_k_grid_item_img">
                <p class="gallery_k_grid_item_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
            </div>
            <div class="gallery_k_grid_item">
                <img src="/public/img/gallery_k.png" alt="" class="gallery_k_grid_item_img">
                <p class="gallery_k_grid_item_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
            </div>
        </div>
    </div>
</section>



<div class="slider_modal">
    <div class="overlay"></div>
    <div class="container">
        <div class="slider_modal_counter">
            <span class="current"></span> 
            /
            <span class="total"></span>
        </div>
        <div class="slider_modal_container slider">
            <div class="slide">
                <div class="slide_box">
                    <img src="/public/img/gallery_k.png" alt="" class="slide_box_image">
                    <p class="slide_box_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
                </div>
            </div>
            <div class="slide">
                <div class="slide_box">
                    <img src="/public/img/gallery_k.png" alt="" class="slide_box_image">
                    <p class="slide_box_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
                </div>
            </div>
            <div class="slide">
                <div class="slide_box">
                    <img src="/public/img/gallery_k.png" alt="" class="slide_box_image">
                    <p class="slide_box_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
                </div>
            </div>
            <div class="slide">
                <div class="slide_box">
                    <img src="/public/img/gallery_k.png" alt="" class="slide_box_image">
                    <p class="slide_box_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
                </div>
            </div>
            <div class="slide">
                <div class="slide_box">
                    <img src="/public/img/gallery_k.png" alt="" class="slide_box_image">
                    <p class="slide_box_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
                </div>
            </div>
            <div class="slide">
                <div class="slide_box">
                    <img src="/public/img/gallery_k.png" alt="" class="slide_box_image">
                    <p class="slide_box_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
                </div>
            </div>
            <div class="slide">
                <div class="slide_box">
                    <img src="/public/img/gallery_k.png" alt="" class="slide_box_image">
                    <p class="slide_box_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
                </div>
            </div>
            <div class="slide">
                <div class="slide_box">
                    <img src="/public/img/gallery_k.png" alt="" class="slide_box_image">
                    <p class="slide_box_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
                </div>
            </div>
            <div class="slide">
                <div class="slide_box">
                    <img src="/public/img/gallery_k.png" alt="" class="slide_box_image">
                    <p class="slide_box_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
                </div>
            </div>
            <div class="slide">
                <div class="slide_box">
                    <img src="/public/img/gallery_k.png" alt="" class="slide_box_image">
                    <p class="slide_box_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
                </div>
            </div>
            <div class="slide">
                <div class="slide_box">
                    <img src="/public/img/gallery_k.png" alt="" class="slide_box_image">
                    <p class="slide_box_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
                </div>
            </div>
            <div class="slide">
                <div class="slide_box">
                    <img src="/public/img/gallery_k.png" alt="" class="slide_box_image">
                    <p class="slide_box_text">Ворота роллетные Алютех 77 профиль (цвет Золотой дуб )</p>
                </div>
            </div>
        </div>

    </div>
</div>


<% include blocks/contacts-form.ejs %>
<% include blocks/footer-container.ejs %>
<% include blocks/footer.ejs %>