
    <% include blocks/header.ejs %>
    <!--slider section-->
    <div class="slider">
        <div class="slide slide-0 ">
            <div class="slide__bg">
                <div class="container h-slider-box">
                    <div class="">
                        <div class="mobile-title">
                            <h1 class="main-slider-title-mobile">Официальный партнёр немецкого концерна</h1>
                            <div class="slider-img-box-mobile">
                                <img src="/public/img/Bitmap.png" alt="logo">
                            </div>
                        </div>
                    </div>
                    <div class="section_main_box_foot  ">
                        <div class="">
                            <h3 class="section_main_box_foot_title">Для приватного жилья</h3>
                            <p class="section_main_box_foot_desc">Гаражные секционные ворота проверены и сертифицированы в соответствии с высокими требованиями по безопасности европейского стандарта 13241-1. </p>
                            <a href="category" class="section_main_box_foot_btn">Подробнее</a>
                        </div>
                    </div>
                    <div class="">
                        <div class="section_main_box_head">
                            <p class="section_main_box_head_title">Официальный партнёр немецкого концерна</p>
                            <img src="/public/img/Bitmap.png" alt="" class="section_main_box_head_logo">
                        </div>
                    </div>
                </div>
                <div class="h-arrows-left"></div>
                <div class="h-arrows-wrap h-left">
                    <div class="content-box-text">Для приватного</div>
                    <div class="sm-arrow-left">
                    </div>
                </div>
            </div>
        </div>
        <div class="slide slide-1 ">
            <div class="slide__bg">
                <div class="container h-slider-box">
                    <div class="h-slider-box-left">
                        <div class="mobile-title">
                            <h1 class="main-slider-title-mobile">Официальный партнёр немецкого концерна</h1>
                            <div class="slider-img-box-mobile">
                                <img src="/public/img/Bitmap.png" alt="logo">
                            </div>
                        </div>
                    </div>
                    <div class="section_main_box_foot h-c-left ">
                        <div class="text-right">
                            <h3 class="section_main_box_foot_title">Для приватного жилья</h3>
                            <p class="section_main_box_foot_desc">Гаражные секционные ворота проверены и сертифицированы в соответствии с высокими требованиями по безопасности европейского стандарта 13241-1. </p>
                            <a href="category" class="section_main_box_foot_btn">Подробнее</a>
                        </div>
                    </div>
                    <div class="">
                        <div class="section_main_box_head">
                            <p class="section_main_box_head_title">Официальный партнёр немецкого концерна</p>
                            <img src="/public/img/Bitmap.png" alt="" class="section_main_box_head_logo">
                        </div>
                    </div>
                </div>
                <div class="h-arrows-right"></div>
                <div class="h-arrows-wrap rev h-right">
                    <div class="content-box-text">Для промышленного</div>
                    <div class="sm-arrow-right"></div>
                </div>
            </div>
        </div>
    </div>
    <!--mobile-slider-section-->

    <% include blocks/footer.ejs %>