<% include blocks/header.ejs %>



<section class="news_k">
    <div class="wrapper_k">
        <div class="news_k_header">
            <img src="/public/img/news_house.png" alt="" class="news_k_header_image">
            <div class="news_k_header_box">
                <p class="news_k_header_box_title">Student Success Story: Terrance Corley</p>
                <p class="news_k_header_box_desc">10 февраля, 2018</p>
            </div>
        </div>
    </div>
</section>
<section class="new_box_k">
    <div class="wrapper_k">
        <div class="new_box_k_container">
            <p class="new_box_k_container_title">Before Thinkful:</p>
            <p class="new_box_k_container_desc">Prior to Thinkful, Terrance was working as a Laboratory Manager and Lead Phlebotomist.
                <br><br>
                    “I saw where my current career path was headed and it wasn’t what I wanted. As I moved up the company ladder, I no longer got to teach and quickly realized that was the only part of the job I was passionate about.”
                <br> <br>    
                    Terrance had started to code occasionally on the side which helped him understand the career opportunities within programming. When he was ready to make the career switch, he spent a few months researching different program options. He ultimately decided to enroll in Thinkful’s Engineering Immersion program because of its job guarantee, relevant course curriculum, and one-on-one mentors. It also had multiple stellar reviews online.
            </p>
            <img src="/public/img/new_home.png" alt="" class="new_box_k_container_image">
        </div>
        <div class="new_box_k_container">
            <p class="new_box_k_container_title">Before Thinkful:</p>
            <p class="new_box_k_container_desc">Prior to Thinkful, Terrance was working as a Laboratory Manager and Lead Phlebotomist.
                <br><br>
                    “I saw where my current career path was headed and it wasn’t what I wanted. As I moved up the company ladder, I no longer got to teach and quickly realized that was the only part of the job I was passionate about.”
                <br> <br>    
                    Terrance had started to code occasionally on the side which helped him understand the career opportunities within programming. When he was ready to make the career switch, he spent a few months researching different program options. He ultimately decided to enroll in Thinkful’s Engineering Immersion program because of its job guarantee, relevant course curriculum, and one-on-one mentors. It also had multiple stellar reviews online.
            </p>
            <img src="/public/img/new_home1.png" alt="" class="new_box_k_container_image">
        </div>
        <div class="new_box_k_container">
            <p class="new_box_k_container_title">Before Thinkful:</p>
            <p class="new_box_k_container_desc">Prior to Thinkful, Terrance was working as a Laboratory Manager and Lead Phlebotomist.
                <br><br>
                    “I saw where my current career path was headed and it wasn’t what I wanted. As I moved up the company ladder, I no longer got to teach and quickly realized that was the only part of the job I was passionate about.”
                <br> <br>    
                    Terrance had started to code occasionally on the side which helped him understand the career opportunities within programming. When he was ready to make the career switch, he spent a few months researching different program options. He ultimately decided to enroll in Thinkful’s Engineering Immersion program because of its job guarantee, relevant course curriculum, and one-on-one mentors. It also had multiple stellar reviews online.
            </p>
        </div>
    </div>
</section>



<% include blocks/contacts-form.ejs %>
<% include blocks/footer-container.ejs %>
<% include blocks/footer.ejs %>