
<% include blocks/header.ejs %>


<section class="podcategory_k">
    <div class="wrapper_k">
        <div class="podcategory_k_container">
            <div class="podcategory_k_bac"></div>
            <div class="podcategory_k_container_box">
                <p class="podcategory_k_container_box_title">Двери</p>
                <p class="podcategory_k_container_box_desc">Когда сегодня на рынке строительных элементов идёт речь о воротах, дверях, коробках и приводах, то сразу подразумевается имя Hörmann – ведь именно немецкий концерн Hörmann является крупнейшим в Европе производителем и поставщиком этих изделий.</p>
            </div>
            <div class="podcategory_k_container_image">
                <img src="/public/img/podcategory_k.png" alt="" class="podcategory_k_container_image_item">
                <div class="podcategory_k_background" data-back="0"></div>
                <div class="podcategory_k_background" data-back="1"></div>
                <div class="podcategory_k_background" data-back="2"></div>
                <div class="podcategory_k_background" data-back="3"></div>
                <div class="podcategory_k_background" data-back="4"></div>
                <div class="podcategory_k_background" data-back="5"></div>
                <div class="podcategory_k_background" data-back="6"></div>
                <div class="podcategory_k_slider">
                    <div class="slider">
                        <div class="slide">
                            <div class="podcategory_k_slider_box">
                                <p class="podcategory_k_slider_box_title">Входные двери Thermo65 и ThermoPro</p>
                                <img src="/public/img/podcategory_k.png" alt="" class="podcategory_k_slider_box_image">
                            </div>
                        </div>
                        <div class="slide">
                            <div class="podcategory_k_slider_box">
                                <p class="podcategory_k_slider_box_title" data-text="0">Входные двери Thermo65 и ThermoPro</p>
                                <img src="/public/img/slide1.png" alt="" class="podcategory_k_slider_box_image">
                            </div>
                        </div>
                        <div class="slide">
                            <div class="podcategory_k_slider_box">
                                <p class="podcategory_k_slider_box_title" data-text="1">Входные двери Thermo65 и ThermoPro</p>
                                <img src="/public/img/podcategory_k.png" alt="" class="podcategory_k_slider_box_image">
                            </div>
                        </div>
                        <div class="slide">
                            <div class="podcategory_k_slider_box">
                                <p class="podcategory_k_slider_box_title" data-text="2">Входные двери Thermo65 и ThermoPro</p>
                                <img src="/public/img/slide1.png" alt="" class="podcategory_k_slider_box_image">
                            </div>
                        </div>
                        <div class="slide">
                            <div class="podcategory_k_slider_box">
                                <p class="podcategory_k_slider_box_title" data-text="3">Входные двери Thermo65 и ThermoPro</p>
                                <img src="/public/img/podcategory_k.png" alt="" class="podcategory_k_slider_box_image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="podcategory_k_scroll_more">
            <p class="podcategory_k_scroll_more_text">скролл</p>
            <img src="/public/img/arrow_adv.png" alt="" class="scroll_arrow">
        </div>
    </div>
</section>



<% include blocks/footer.ejs %>