<% include blocks/header.ejs %>


<!--tabs-->
<section>
    <div class="pt container">
        <h1 class="stock-main-title">Акционные предложения, которые не оставят Вас безразличным</h1>
        <div class="stock-tabs-box-wrap">
            <div class="stock-tabs-menu row">
                <div class="col-12 col-sm-6 col-lg-3 stock-tabs-menu-link-wrap">
                    <a class=" stock-tabs-menu-link stock-tabs-menu-link-active">Автоматичні гаражні ворота RenoMatic light 2018</a>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 stock-tabs-menu-link-wrap">
                    <a class=" stock-tabs-menu-link ">Автоматичні гаражні ворота RenoMatic 2018</a>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 stock-tabs-menu-link-wrap">
                    <a class=" stock-tabs-menu-link ">Вхідні двері Thermo65</a>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 stock-tabs-menu-link-wrap">
                    <a class=" stock-tabs-menu-link ">Приводи в’їзних воріт</a>
                </div>

            </div>
            <div class="stock-tabs-content-wrap">
                <div class="stock-tabs-content">
                    <div class="stock-tabs-content-left">
                        <h2 class="stock-tabs-content-title">Гаражні секційні ворота RenoMatic light 2018</h2>
                        <div class="stock-slider">
                            <div class="stock-slider-item">
                                <div>
                                    <div class="stock-slider-item-text-wrap">
                                        <div class="stock-text-wrap">
                                            <p><span>Вибрана поверхня:</span></p>
                                            <p>Woodgrain</p>
                                        </div>
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний колір:</span></p>
                                            <p>RAL 9016</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="stock-slider-item-img-wrap">
                                        <img src="/public/img/s2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-item">
                                <div>
                                    <div class="stock-slider-item-text-wrap">
                                        <div class="stock-text-wrap">
                                            <p><span>Вибрана поверхня:</span></p>
                                            <p>Woodgrain</p>
                                        </div>
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний колір:</span></p>
                                            <p>RAL 7016</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="stock-slider-item-img-wrap">
                                        <img src="/public/img/s8.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-item">
                                <div>
                                    <div class="stock-slider-item-text-wrap">
                                        <div class="stock-text-wrap">
                                            <p><span>Вибрана поверхня:</span></p>
                                            <p>Woodgrain</p>
                                        </div>
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний колір:</span></p>
                                            <p>RAL 8028</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="stock-slider-item-img-wrap">
                                        <img src="/public/img/s5.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-item">
                                <div>
                                    <div class="stock-slider-item-text-wrap">
                                        <div class="stock-text-wrap">
                                            <p><span>Вибрана поверхня:</span></p>
                                            <p>Decocolor</p>
                                        </div>
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний колір:</span></p>
                                            <p>Golden Oak</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="stock-slider-item-img-wrap">
                                        <img src="/public/img/s4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-item">
                                <div>
                                    <div class="stock-slider-item-text-wrap">
                                        <div class="stock-text-wrap">
                                            <p><span>Вибрана поверхня:</span></p>
                                            <p>Decocolor</p>
                                        </div>
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний колір:</span></p>
                                            <p>Dark Oak</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="stock-slider-item-img-wrap">
                                        <img src="/public/img/s7.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-item">
                                <div>
                                    <div class="stock-slider-item-text-wrap">
                                        <div class="stock-text-wrap">
                                            <p><span>Вибрана поверхня:</span></p>
                                            <p>Decocolor</p>
                                        </div>
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний колір:</span></p>
                                            <p>Night Oak</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="stock-slider-item-img-wrap">
                                        <img src="/public/img/s6.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stock-slider-nav">
                            <div class="stock-slider-nav-item">
                                <div>
                                    <div class="stock-slider-nav-item-img-wrap">
                                        <img src="/public/img/s2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-nav-item">
                                <div>
                                    <div class="stock-slider-nav-item-img-wrap">
                                        <img src="/public/img/s8.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-nav-item">
                                <div>
                                    <div class="stock-slider-nav-item-img-wrap">
                                        <img src="/public/img/s5.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-nav-item">
                                <div>
                                    <div class="stock-slider-nav-item-img-wrap">
                                        <img src="/public/img/s4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-nav-item">
                                <div>
                                    <div class="stock-slider-nav-item-img-wrap">
                                        <img src="/public/img/s7.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-nav-item">
                                <div>
                                    <div class="stock-slider-nav-item-img-wrap">
                                        <img src="/public/img/s6.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stock-tabs-content-right">
                        <table class="stock-tabs-table">
                            <tr>
                                <th>Акційний розмір</th>
                                <th>з ручкою чорною з пластмаси</th>
                                <th>з приводом Prolift 700 та 2 пультами ДУ RSC2</th>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2250 мм</td>
                                <td>18 900 грн.*</td>
                                <td>25 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2500 мм</td>
                                <td>19 950 грн.*</td>
                                <td>28 000 грн.*</td>
                            </tr>
                            <tr>
                                <td>2750 × 2125 мм</td>
                                <td>21 700 грн.*</td>
                                <td>27 300 грн.*</td>
                            </tr>
                            <tr>
                                <td>2750 × 2250 мм</td>
                                <td>21 700 грн.*</td>
                                <td>28 000 грн.*</td>
                            </tr>
                            <tr>
                                <td>2750 × 2500 мм</td>
                                <td>23 800 грн.*</td>
                                <td>31 150 грн.*</td>
                            </tr>
                            <tr>
                                <td>3000 × 2125 мм</td>
                                <td>23 800 грн.*</td>
                                <td>28 700 грн.*</td>
                            </tr>
                            <tr>
                                <td>3000 × 2250 мм</td>
                                <td>23 800 грн.*</td>
                                <td>29 400 грн.*</td>
                            </tr>
                            <tr>
                                <td>3000 × 2500 мм</td>
                                <td>23 800 грн.*</td>
                                <td>32 200 грн.*</td>
                            </tr>
                            <tr>
                                <td>3000 × 3000 мм</td>
                                <td>26 250 грн.*</td>
                                <td>33 950 грн.*</td>
                            </tr>
                            <tr>
                                <td>4000 × 2125 мм</td>
                                <td>30 100 грн.*</td>
                                <td>34 300 грн.*</td>
                            </tr>
                            <tr>
                                <td>4000 × 2250 мм</td>
                                <td>30 100 грн.*</td>
                                <td>34 650 грн.*</td>
                            </tr>
                            <tr>
                                <td>4000 × 2500 мм</td>
                                <td>30 100 грн.*</td>
                                <td>36 050 грн.*</td>
                            </tr>
                            <tr>
                                <td>5000 × 2125 мм</td>
                                <td>33 600 грн.*</td>
                                <td>38 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>5000 × 2250 мм</td>
                                <td>33 600 грн.*</td>
                                <td>39 550 грн.*</td>
                            </tr>
                            <tr>
                                <td>5000 × 2500 мм</td>
                                <td>33 600 грн.*</td>
                                <td>41 300 грн.*</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="stock-tabs-content">
                    <div class="stock-tabs-content-left">
                        <h2 class="stock-tabs-content-title">Автоматичні гаражні ворота RenoMatic 2018</h2>
                        <div class="stock-slider">
                            <div class="stock-slider-item">
                                <div>
                                    <div class="stock-slider-item-text-wrap">
                                        <div class="stock-text-wrap">
                                            <p><span>Вибрана поверхня:</span></p>
                                            <p>Sandgrain</p>
                                        </div>
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний колір:</span></p>
                                            <p>RAL 9016</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="stock-slider-item-img-wrap">
                                        <img src="/public/img/s2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-item">
                                <div>
                                    <div class="stock-slider-item-text-wrap">
                                        <div class="stock-text-wrap">
                                            <p><span>Вибрана поверхня:</span></p>
                                            <p>Sandgrain</p>
                                        </div>
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний колір:</span></p>
                                            <p>RAL 9016</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="stock-slider-item-img-wrap">
                                        <img src="/public/img/s8.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-item">
                                <div>
                                    <div class="stock-slider-item-text-wrap">
                                        <div class="stock-text-wrap">
                                            <p><span>Вибрана поверхня:</span></p>
                                            <p>Sandgrain</p>
                                        </div>
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний колір:</span></p>
                                            <p>RAL 9016</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="stock-slider-item-img-wrap">
                                        <img src="/public/img/s5.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-item">
                                <div>
                                    <div class="stock-slider-item-text-wrap">
                                        <div class="stock-text-wrap">
                                            <p><span>Вибрана поверхня:</span></p>
                                            <p>Decograin</p>
                                        </div>
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний колір:</span></p>
                                            <p>Titan Metallic <br>CH 703</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="stock-slider-item-img-wrap">
                                        <img src="/public/img/s4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-item">
                                <div>
                                    <div class="stock-slider-item-text-wrap">
                                        <div class="stock-text-wrap">
                                            <p><span>Вибрана поверхня:</span></p>
                                            <p>Decograin</p>
                                        </div>
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний колір:</span></p>
                                            <p>Golden Oak</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="stock-slider-item-img-wrap">
                                        <img src="/public/img/s7.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-item">
                                <div>
                                    <div class="stock-slider-item-text-wrap">
                                        <div class="stock-text-wrap">
                                            <p><span>Вибрана поверхня:</span></p>
                                            <p>Decograin</p>
                                        </div>
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний колір:</span></p>
                                            <p>Dark Oak</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="stock-slider-item-img-wrap">
                                        <img src="/public/img/s6.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stock-slider-nav">
                            <div class="stock-slider-nav-item">
                                <div>
                                    <div class="stock-slider-nav-item-img-wrap">
                                        <img src="/public/img/s2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-nav-item">
                                <div>
                                    <div class="stock-slider-nav-item-img-wrap">
                                        <img src="/public/img/s8.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-nav-item">
                                <div>
                                    <div class="stock-slider-nav-item-img-wrap">
                                        <img src="/public/img/s5.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-nav-item">
                                <div>
                                    <div class="stock-slider-nav-item-img-wrap">
                                        <img src="/public/img/s4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-nav-item">
                                <div>
                                    <div class="stock-slider-nav-item-img-wrap">
                                        <img src="/public/img/s7.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-nav-item">
                                <div>
                                    <div class="stock-slider-nav-item-img-wrap">
                                        <img src="/public/img/s6.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stock-tabs-content-right">
                        <table class="stock-tabs-table">
                            <tr>
                                <th>Акційний розмір</th>
                                <th>з ручкою чорною з пластмаси</th>
                                <th>з приводом Prolift 700 та 2 пультами ДУ RSC2</th>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="stock-tabs-content">
                    <div class="stock-tabs-content-left">
                        <h2 class="stock-tabs-content-title">Вхідні двері Thermo65</h2>
                        <div class="stock-slider">
                            <div class="stock-slider-item">
                                <div>
                                    <div class="stock-slider-item-text-wrap">
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний мотив:</span></p>
                                            <p>Мотив 010</p>
                                        </div>
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний колір:</span></p>
                                            <p>RAL 9016</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="stock-slider-item-img-wrap stock-door">
                                        <img src="/public/img/sd4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-item">
                                <div>
                                    <div class="stock-slider-item-text-wrap">
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний мотив:</span></p>
                                            <p>Мотив 010</p>
                                        </div>
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний колір:</span></p>
                                            <p>RAL 7016</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="stock-slider-item-img-wrap stock-door">
                                        <img src="/public/img/sd1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-item">
                                <div>
                                    <div class="stock-slider-item-text-wrap ">
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний мотив:</span></p>
                                            <p>Мотив 010</p>
                                        </div>
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний колір:</span></p>
                                            <p>RAL 8028</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="stock-slider-item-img-wrap stock-door">
                                        <img src="/public/img/sd3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-item">
                                <div>
                                    <div class="stock-slider-item-text-wrap">
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний мотив:</span></p>
                                            <p>Мотив 010</p>
                                        </div>
                                        <div class="stock-text-wrap">
                                            <p><span>Вибраний колір:</span></p>
                                            <p>Dark Oak</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="stock-slider-item-img-wrap stock-door">
                                        <img src="/public/img/sd2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stock-slider-nav">
                            <div class="stock-slider-nav-item">
                                <div>
                                    <div class="stock-slider-nav-item-img-wrap">
                                        <img src="/public/img/sd4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-nav-item">
                                <div>
                                    <div class="stock-slider-nav-item-img-wrap">
                                        <img src="/public/img/sd1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-nav-item">
                                <div>
                                    <div class="stock-slider-nav-item-img-wrap ">
                                        <img src="/public/img/sd3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="stock-slider-nav-item">
                                <div>
                                    <div class="stock-slider-nav-item-img-wrap ">
                                        <img src="/public/img/sd2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stock-tabs-content-right">
                        <!--<table class="stock-tabs-table">
                            <tr>
                                <th>Акційний розмір</th>
                                <th>з ручкою чорною з пластмаси</th>
                                <th>з приводом Prolift 700 та 2 пультами ДУ RSC2</th>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            <tr>
                                <td>2500 × 2125 мм</td>
                                <td>18 900 грн.*</td>
                                <td>24 500 грн.*</td>
                            </tr>
                            </table>-->
                        <h2 class="stock-tabs-content-title tabs-door">Вхідні двері Thermo65</h2>
                        <p class="stock-tabs-content-title">47 950 грн.*</p>
                    </div>
                </div>
                <div class="stock-tabs-content row">
                    <div class="col-lg-6">
                        <p class="stock-tabs-content-title mr-20">Привод відкотних воріт </p>
                        <p class="stock-tabs-content-title mr-20">LineaMatic P</p>
                        <p class="guaranty-list-item">для відкотних воріт, вкл. пульт дистанційного керування HS 5 BS чорного кольору</p>
                        <div class="tabs-img-wrap">
                            <img src="/public/img/privod1.jpg" alt="">
                        </div>
                        <p class="stock-tabs-content-title mr-20">від 14 700 грн.*</p>
                    </div>
                    <div class="col-lg-6">
                        <p class="stock-tabs-content-title mr-20">Привод розпашних воріт</p>
                        <p class="stock-tabs-content-title mr-20">RotaMatic 2</p>
                        <p class="guaranty-list-item">для 2-стулкових розпашних воріт, вкл. пульт дистанційного керування HS 5 BS чорного кольору</p>
                        <div class="tabs-img-wrap ">
                            <img src="/public/img/privod2.jpg" alt="">
                        </div>
                        <p class="stock-tabs-content-title mr-20">від 21 350 грн.*</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--garanty section-->
<section class="guaranty-wrap">
    <div class="my-container guaranty row">
        <div class="col-lg-6">
            <div class="guaranty-item">
            <h3 class="guaranty-title">10 лет гарантии на ворота</h3>
            <ul class="guaranty-list">
                <li class="guaranty-list-item">— двостінні утеплені секції товщиною 42 мм для високоефективної теплоізоляції, стабільності та приємного безшумного руху </li>
                <li class="guaranty-list-item">— Зовні поверхня Woodgrain з ніжною структурою в 3 кольорах або УФ-стійка поверхня Decocolor в 3 варіантах оформлення </li>
                <li class="guaranty-list-item">— Оптимальний довговічний захист коробки за допомогою антикорозійної пластмасової опори </li>
            </ul>
        </div>
        </div>
        <div class="col-lg-6">
            <div class="guaranty-item">
            <h3 class="guaranty-title">5 лет гарантии на привода</h3>
            <ul class="guaranty-list">
                <li class="guaranty-list-item"><span>Привод для гаражних воріт ProLift 700</span></li>
                <li class="guaranty-list-item">— Надзвичайно тиха технологія зубчастого ременя</li>
                <li class="guaranty-list-item">— Надійна система автоматичного вимикання </li>
                <li class="guaranty-list-item">— Надійна радіочастота 433 МГц</li>
                <li class="guaranty-list-item">— Перевірено і сертифіковано в поєднанні з гаражними воротами Hörmann за стандартом ЄС 13241-1</li>
                <li class="guaranty-list-item">— Два 2-канальні пульти дистанційного керування красивої форми з хромованим кільцем для ключів</li>
            </ul>
        </div>
        </div>
    </div>
</section>


<% include blocks/contacts-form.ejs %>
<% include blocks/footer-container.ejs %>
<% include blocks/footer.ejs %>