<% include blocks/header.ejs %>



<section class="goods_k">
    <div class="wrapper_k">
        <div class="goods_k_container">
            <div class="goods_k_container_box">
                <p class="goods_k_container_box_title">Гаражные секционные ворота</p>
                <p class="goods_k_container_box_desc">Откройте для себя многочисленные преимущества.
                        Секционные ворота открываются вертикально и в открытом положении находятся под потолком, экономя полезное пространство. Эта принципиальная особенность конструкции обеспечивает максимальное пространство как внутри, так и перед гаражом. Гаражные секционные ворота могут быть установлены в любые гаражные проёмы, обеспечивая на 14 см бóльшую ширину проезда, чем подъемно-поворотные ворота. Оптимальная герметичность секционных ворот обеспечивается за счет прочных и стойких к атмосферным воздействиям уплотнений со всех четырех сторон.</p>
                <div class="box_btns">
                    <a href="#" class="box_btns_item">Узнать цену</a>
                    <a href="#" class="box_btns_item">Скачать каталог</a>
                </div>
            </div>
            <div class="goods_k_container_box">
                <div class="goods_k_container_box_slider_big slider">
                    <div class="slide">
                        <div class="big_slider_image" style="background:url('/public/img/slide1.png') center/cover no-repeat"></div>
                    </div>
                    <div class="slide">
                        <div class="big_slider_image" style="background:url('/public/img/slide2.png') center/cover no-repeat"></div>
                    </div>
                    <div class="slide">
                        <div class="big_slider_image" style="background:url('/public/img/slide3.png') center/cover no-repeat"></div>
                    </div>
                </div>
                <div class="goods_k_container_box_slider_small slider">
                    <div class="slide">
                        <div class="small_slider_image" style="background:url('/public/img/slide1.png') center/cover no-repeat"></div>
                    </div>
                    <div class="slide">
                        <div class="small_slider_image" style="background:url('/public/img/slide2.png') center/cover no-repeat"></div>
                    </div>
                    <div class="slide">
                        <div class="small_slider_image" style="background:url('/public/img/slide3.png') center/cover no-repeat"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="goods_desc_k">
    <div class="wrapper_k">
        <div class="goods_desc_k_container">
            <div class="goods_desc_k_container_box">
                <p class="box_title">Выберите подходящий тип ворот</p>
                <p class="box_desc">Вы можете сделать выбор между одностенными воротами LTE, идеально подходящими для отдельно стоящих гаражей, не требующих звукоизоляции, идвустенными воротами LPU с теплоизоляцией, которые к тому же более устойчивы и имеют плавный ход. Если доминирующим материалом в отделке Вашего дома является дерево, Вам лучше всего подойдут ворота Hörmann с филенкой из массивной древесины типа LTH.</p>
            </div>
            <div class="goods_desc_k_container_box">
                <p class="box_title">Сертификация</p>
                <p class="box_desc">Гаражные секционные ворота проверены и сертифицированы в соответствии с высокими требованиями по безопасности европейского стандарта 13241-1. Вы можете узнать, отвечают ли Ваши гаражные ворота текущим стандартам безопасности ЕС, с помощью списка контрольных вопросов по безопасности.</p>
            </div>
        </div>
    </div>
</section>
<section class="types_k">
    <div class="wrapper_k">
        <p class="types_k_title">Типы ворот</p>
        <div class="types_k_container">
            <div class="types_k_container_box">
                <div class="types_k_container_box_image" style="background:url('/public/img/type1.png') center/cover no-repeat">
                    <div class="overlay">
                        <p class="overlay_desc">Энергосберегающие ворота выгодно отличаются секциями толщиной 67 мм с термическим разделением и прекрасной теплоизоляцией.</p>
                    </div>
                </div>
                <p class="types_k_container_box_desc">LPU 67 Thermo</p>
            </div>
            <div class="types_k_container_box">
                <div class="types_k_container_box_image" style="background:url('/public/img/type2.png') center/cover no-repeat">
                    <div class="overlay">
                            <p class="overlay_desc">Энергосберегающие ворота выгодно отличаются секциями толщиной 67 мм с термическим разделением и прекрасной теплоизоляцией.</p>
                        </div></div>
                <p class="types_k_container_box_desc">LPU 42</p>
            </div>
            <div class="types_k_container_box">
                <div class="types_k_container_box_image" style="background:url('/public/img/type3.png') center/cover no-repeat">
                    <div class="overlay">
                            <p class="overlay_desc">Энергосберегающие ворота выгодно отличаются секциями толщиной 67 мм с термическим разделением и прекрасной теплоизоляцией.</p>
                        </div></div>
                <p class="types_k_container_box_desc">LTE 42</p>
            </div>
            <div class="types_k_container_box">
                <div class="types_k_container_box_image" style="background:url('/public/img/type4.png') center/cover no-repeat">
                    <div class="overlay">
                            <p class="overlay_desc">Энергосберегающие ворота выгодно отличаются секциями толщиной 67 мм с термическим разделением и прекрасной теплоизоляцией.</p>
                        </div></div>
                <p class="types_k_container_box_desc">LTH 42</p>
            </div>
        </div>
        <div class="types_k_slider slider">
            <div class="slide">
                <div class="types_k_container_box">
                    <div class="types_k_container_box_image" style="background:url('/public/img/type1.png') center/cover no-repeat">
                        <div class="overlay">
                            <p class="overlay_desc">Энергосберегающие ворота выгодно отличаются секциями толщиной 67 мм с термическим разделением и прекрасной теплоизоляцией.</p>
                        </div>
                    </div>
                    <p class="types_k_container_box_desc">LPU 67 Thermo</p>
                </div>
            </div>
            <div class="slide">
                <div class="types_k_container_box">
                    <div class="types_k_container_box_image" style="background:url('/public/img/type2.png') center/cover no-repeat">
                        <div class="overlay">
                            <p class="overlay_desc">Энергосберегающие ворота выгодно отличаются секциями толщиной 67 мм с термическим разделением и прекрасной теплоизоляцией.</p>
                        </div>
                    </div>
                    <p class="types_k_container_box_desc">LPU 67 Thermo</p>
                </div>
            </div>
            <div class="slide">
                <div class="types_k_container_box">
                    <div class="types_k_container_box_image" style="background:url('/public/img/type3.png') center/cover no-repeat">
                        <div class="overlay">
                            <p class="overlay_desc">Энергосберегающие ворота выгодно отличаются секциями толщиной 67 мм с термическим разделением и прекрасной теплоизоляцией.</p>
                        </div>
                    </div>
                    <p class="types_k_container_box_desc">LPU 67 Thermo</p>
                </div>
            </div>
            <div class="slide">
                <div class="types_k_container_box">
                    <div class="types_k_container_box_image" style="background:url('/public/img/type4.png') center/cover no-repeat">
                        <div class="overlay">
                            <p class="overlay_desc">Энергосберегающие ворота выгодно отличаются секциями толщиной 67 мм с термическим разделением и прекрасной теплоизоляцией.</p>
                        </div>
                    </div>
                    <p class="types_k_container_box_desc">LPU 67 Thermo</p>
                </div>
            </div>
        </div>
        <div class="drag_box">
            <p class="drag_box_text">DRAG</p>
            <img src="/public/img/drag.png" alt="" class="drag_box_icon">
        </div>
    </div>
</section>
<section class="view_k">
    <div class="wrapper_k">
        <p class="view_k_title">Обзор мотивов</p>
        <div class="view_k_container">
            <div class="view_k_container_tabs">
                <p class="view_k_container_tabs_text active" data-tab-tovar="#tovar1">Стальные мотивы</p>
                <div class="line"></div>
                <p class="view_k_container_tabs_text" data-tab-tovar="#tovar2">Массивная древесина</p>
            </div>
            <div class="tabul_container">
                <div class="view_k_container_box active" id="tovar1">
                    <div class="view_k_container_box_slider_big door slider">
                        <div class="slide">
                            <div class="slide-box">
                                <p class="slide-box_text">S-гофр (LPU, LTE), белого цвета RAL 9016</p>
                                <img src="/public/img/door1.png" alt="" class="slide-box_image">
                            </div>
                        </div>
                        <div class="slide">
                                <div class="slide-box">
                                        <p class="slide-box_text">S-гофр (LPU, LTE), белого цвета RAL 9016</p>
                                        <img src="/public/img/door2.png" alt="" class="slide-box_image">
                                    </div>
                        </div>
                        <div class="slide">
                            <div class="slide-box">
                                <p class="slide-box_text">S-гофр (LPU, LTE), белого цвета RAL 9016</p>
                                <img src="/public/img/door3.png" alt="" class="slide-box_image">
                            </div>
                        </div>
                        <div class="slid">
                            <div class="slide-box">
                                <p class="slide-box_text">S-гофр (LPU, LTE), белого цвета RAL 9016</p>
                                <img src="/public/img/door4.png" alt="" class="slide-box_image">
                            </div>
                        </div>
                    </div>
                    <div class="view_k_container_box_slider_small door slider">
                            <div class="slide">
                                <div class="slide-box">
                                    <img src="/public/img/door1.png" alt="" class="slide-box_image">
                                </div>
                            </div>
                        <div class="slide">
                            <div class="slide-box">
                                <img src="/public/img/door2.png" alt="" class="slide-box_image">
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-box">
                                <img src="/public/img/door3.png" alt="" class="slide-box_image">
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-box">
                                <img src="/public/img/door4.png" alt="" class="slide-box_image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="view_k_container_box" id="tovar2">
                    <div class="view_k_container_box_slider_big wood slider">
                        <div class="slide">
                            <div class="slide-box">
                                <p class="slide-box_text">S-гофр (LPU, LTE), белого цвета RAL 9016</p>
                                <img src="/public/img/door1.png" alt="" class="slide-box_image">
                            </div>
                        </div>
                        <div class="slide">
                                <div class="slide-box">
                                        <p class="slide-box_text">S-гофр (LPU, LTE), белого цвета RAL 9016</p>
                                        <img src="/public/img/door2.png" alt="" class="slide-box_image">
                                    </div>
                        </div>
                        <div class="slide">
                            <div class="slide-box">
                                <p class="slide-box_text">S-гофр (LPU, LTE), белого цвета RAL 9016</p>
                                <img src="/public/img/door3.png" alt="" class="slide-box_image">
                            </div>
                        </div>
                        <div class="slid">
                            <div class="slide-box">
                                <p class="slide-box_text">S-гофр (LPU, LTE), белого цвета RAL 9016</p>
                                <img src="/public/img/door4.png" alt="" class="slide-box_image">
                            </div>
                        </div>
                    </div>
                    <div class="view_k_container_box_slider_small wood slider">
                            <div class="slide">
                                <div class="slide-box">
                                    <img src="/public/img/door1.png" alt="" class="slide-box_image">
                                </div>
                            </div>
                        <div class="slide">
                            <div class="slide-box">
                                <img src="/public/img/door2.png" alt="" class="slide-box_image">
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-box">
                                <img src="/public/img/door3.png" alt="" class="slide-box_image">
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-box">
                                <img src="/public/img/door4.png" alt="" class="slide-box_image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="advantage_k">
    <div class="wrapper_k">
        <p class="advantage_k_title">Почему Hormann?</p>
        <div class="advantage_k_container">
            <div class="advantage_k_container_item">
                <div class="advantage_box" data-accord="#accord1">
                    <img src="/public/img/shield.png" alt="" class="advantage_k_container_item_img">
                    <p class="advantage_k_container_item_text">Оптимальная защита на долгие годы</p>
                    <img src="/public/img/arrow_adv.png" alt="" class="active advantage_k_container_item_arrow">
                </div>
                <div class="advantage_k_container_item_tabul" id="accord1">
                    <img src="/public/img/tabul1.png" alt="" class="advantage_k_container_item_tabul_image">
                    <p class="advantage_k_container_item_tabul_text">Антикоррозийное пластмассовое основание направляющих высотой 4 см обеспечивает надежную защиту ворот в условиях длительной сырости. Подобной системы защиты основания направляющих от коррозии у конкурентов нет.
                            <br><br>
                            Вместе с напольным уплотнением ворот основание направляющих представляет собой удачное завершение, в том числе и внешне.</p>
                </div>
            </div>
            <div class="advantage_k_container_item">
                <div class="advantage_box" data-accord="#accord2">
                    <img src="/public/img/shield.png" alt="" class="advantage_k_container_item_img">
                    <p class="advantage_k_container_item_text">Оптимальная защита на долгие годы</p>
                    <img src="/public/img/arrow_adv.png" alt="" class="advantage_k_container_item_arrow">
                </div>
                <div class="advantage_k_container_item_tabul" id="accord2">
                    <img src="/public/img/tabul1.png" alt="" class="advantage_k_container_item_tabul_image">
                    <p class="advantage_k_container_item_tabul_text">Антикоррозийное пластмассовое основание направляющих высотой 4 см обеспечивает надежную защиту ворот в условиях длительной сырости. Подобной системы защиты основания направляющих от коррозии у конкурентов нет.
                            <br><br>
                            Вместе с напольным уплотнением ворот основание направляющих представляет собой удачное завершение, в том числе и внешне.</p>
                </div>
            </div>
            <div class="advantage_k_container_item">
                <div class="advantage_box" data-accord="#accord3">
                    <img src="/public/img/shield.png" alt="" class="advantage_k_container_item_img">
                    <p class="advantage_k_container_item_text">Оптимальная защита на долгие годы</p>
                    <img src="/public/img/arrow_adv.png" alt="" class="advantage_k_container_item_arrow">
                </div>
                <div class="advantage_k_container_item_tabul" id="accord3">
                    <img src="/public/img/tabul1.png" alt="" class="advantage_k_container_item_tabul_image">
                    <p class="advantage_k_container_item_tabul_text">Антикоррозийное пластмассовое основание направляющих высотой 4 см обеспечивает надежную защиту ворот в условиях длительной сырости. Подобной системы защиты основания направляющих от коррозии у конкурентов нет.
                            <br><br>
                            Вместе с напольным уплотнением ворот основание направляющих представляет собой удачное завершение, в том числе и внешне.</p>
                </div>
            </div>
            <div class="advantage_k_container_item">
                <div class="advantage_box" data-accord="#accord4">
                    <img src="/public/img/shield.png" alt="" class="advantage_k_container_item_img">
                    <p class="advantage_k_container_item_text">Оптимальная защита на долгие годы</p>
                    <img src="/public/img/arrow_adv.png" alt="" class="advantage_k_container_item_arrow">
                </div>
                <div class="advantage_k_container_item_tabul" id="accord4">
                    <img src="/public/img/tabul1.png" alt="" class="advantage_k_container_item_tabul_image">
                    <p class="advantage_k_container_item_tabul_text">Антикоррозийное пластмассовое основание направляющих высотой 4 см обеспечивает надежную защиту ворот в условиях длительной сырости. Подобной системы защиты основания направляющих от коррозии у конкурентов нет.
                            <br><br>
                            Вместе с напольным уплотнением ворот основание направляющих представляет собой удачное завершение, в том числе и внешне.</p>
                </div>
            </div>
            <div class="advantage_k_container_item">
                <div class="advantage_box" data-accord="#accord5">
                    <img src="/public/img/shield.png" alt="" class="advantage_k_container_item_img">
                    <p class="advantage_k_container_item_text">Оптимальная защита на долгие годы</p>
                    <img src="/public/img/arrow_adv.png" alt="" class="advantage_k_container_item_arrow">
                </div>
                <div class="advantage_k_container_item_tabul" id="accord5">
                    <img src="/public/img/tabul1.png" alt="" class="advantage_k_container_item_tabul_image">
                    <p class="advantage_k_container_item_tabul_text">Антикоррозийное пластмассовое основание направляющих высотой 4 см обеспечивает надежную защиту ворот в условиях длительной сырости. Подобной системы защиты основания направляющих от коррозии у конкурентов нет.
                            <br><br>
                            Вместе с напольным уплотнением ворот основание направляющих представляет собой удачное завершение, в том числе и внешне.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="videos_k">
    <div class="wrapper_k">
        <p class="videos_k_title">Видеоролики</p>
        <div class="videos_k_container">
            <div class="videos_k_container_card">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UAQ6xPmbe5c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="videos_k_container_card_text">Приводы гаражных ворот – спокойствие и безопасность</p>
            </div>
            <div class="videos_k_container_card">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UAQ6xPmbe5c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="videos_k_container_card_text">Приводы гаражных ворот – спокойствие и безопасность</p>
            </div>
            <div class="videos_k_container_card">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UAQ6xPmbe5c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="videos_k_container_card_text">Приводы гаражных ворот – спокойствие и безопасность</p>
            </div>
        </div>
    </div>
</section>

<section class="sales_k">
    <div class="sales_k_container">
        <img src="/public/img/sale1.png" alt="" class="sales_k_container_image">
        <div class="sales_k_container_box">
            <p class="sales_k_container_box_title">Акционные предложения</p>
            <p class="sales_k_container_box_desc">Дом – это то место, где мы чувствуем себя в безопасности
                   <br> Ворота и двери от № 1 в Европе по выгодной цене:
                    <br> сэкономьте до 30%!</p>
            <a href="#" class="sales_k_container_box_btn">Посмотреть</a>
        </div>
    </div>
</section>



<% include blocks/contacts-form.ejs %>
<% include blocks/footer-container.ejs %>
<% include blocks/footer.ejs %>