<section class="estimation_k">
    <div class="wrapper_k">
        <p class="estimation_k_title">Получить просчёт</p>
        <form class="estimation_k_container">
            <div class="estimation_k_container_input">
                    <input type="text" id="cost_name">
                    <label for="cost_name">Имя</label>
            </div>
            <div class="estimation_k_container_input">
                    <input type="text" id="cost_tel">
                    <label for="cost_tel">Номер телефона</label>
            </div>
            <div class="estimation_k_container_input">
                    <input type="text" id="cost_post">
                    <label for="cost_post">Почта</label>
            </div>
            <div class="estimation_k_container_input">
                    <input type="text" id="cost_desc">
                    <label for="cost_desc">Описание</label>
            </div>
            <div class="estimation_k_container_box">
                    <input type="submit" value="Отправить" class="estimation_k_container_btn">
            </div>
        </form>
    </div>
</section>