<footer class="footer">
    <div class="wrapper_k">
            <p class="footer_item">hordes.com 2018 (c) by command+x</p>
            <a href="#" class="footer_link">Скачать каталог</a>
    </div>
</footer>