<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/style-main.css">
    <link rel="stylesheet" href="/public/css/media.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
</head>
<body>
<!--navbar section-->
<section>
    <nav class="navbar navbar-expand-xl my-navbar fixed-top bg-white">
        <a class="navbar-brand" href="/"><img class="navbar-brand-img" src="/public/img/logo_svg.svg" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse header-menu flex-md-wrap justify-content-md-center " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown-position">
                    <div class="menu-link-wrap">
                        <a href="/category" class="nav-link my-nav-link menu-link">Приватные
                        </a>
                        <nav class="my-nav-link-btn ">
                            <span></span>
                            <span></span>
                            <span></span>
                        </nav>
                    </div>

                    <div class="drop-menu-wrap container">
                        <nav class="drop-menu left_drop">
                            <a href="/pod-category" class="drop-menu-item drop-menu-link door">Гаражные ворота</a>
                            <a href="/pod-category" class="drop-menu-item drop-menu-link door">Двери</a>
                            <a href="/pod-category" class="drop-menu-item drop-menu-link door">Приводы</a>
                        </nav>
                        <div class="sub-menu-wrap">
                            <nav class="sub-menu drop-menu">
                                <a href="/tovar" class="drop-menu-link door">Гаражные секционные ворота</a>
                                <a href="/tovar" class="drop-menu-link door">Гаражные рулонные ворота RollMatic</a>
                                <a href="/tovar" class="drop-menu-link door">Гаражные боковые двери</a>
                            </nav>
                            <nav class="sub-menu drop-menu">
                                <a href="/tovar" class="drop-menu-link door">Входные двери Thermo65 и ThermoPro</a>
                                <a href="/tovar" class="drop-menu-link door">Входные двери ThermoSafe и ThermoCarbon</a>
                                <a href="/tovar" class="drop-menu-link door">Межкомнатные двери</a>
                                <a href="/tovar" class="drop-menu-link door">Огнестойкие/Дымозащитные двери</a>
                                <a href="/tovar" class="drop-menu-link door">Звукоизоляционные двери</a>
                                <a href="/tovar" class="drop-menu-link door">Внутренние двери ZK</a>
                            </nav>
                            <nav class="sub-menu drop-menu">
                                <a href="/tovar" class="drop-menu-link door">Гаражных ворот</a>
                                <a href="/tovar" class="drop-menu-link door">Въездные ворота</a>
                                <a href="/tovar" class="drop-menu-link door">Внутренних дверей</a>
                            </nav>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown-position">
                    <div class="menu-link-wrap">
                        <a href="/category" class="nav-link my-nav-link menu-link">Промышленность
                        </a>
                        <nav class="my-nav-link-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </nav>
                    </div>

                    <div class="drop-menu-wrap container">
                        <nav class="drop-menu">
                            <a href="/pod-category" class="drop-menu-item drop-menu-link door">Ворота</a>
                            <a href="/pod-category" class="drop-menu-item drop-menu-link door">Двери</a>
                            <a href="/pod-category" class="drop-menu-item drop-menu-link door">Приводы</a>
                        </nav>
                        <div class="sub-menu-wrap">
                            <nav class="sub-menu drop-menu">
                                <a href="/tovar" class="drop-menu-link door">Входные двери Thermo65 и ThermoPro</a>
                                <a href="/tovar" class="drop-menu-link door">Входные двери Thermo65 и</a>
                                <a href="/tovar" class="drop-menu-link door">Входные двери</a>
                                <a href="/tovar" class="drop-menu-link door">Входные </a>
                            </nav>
                            <nav class="sub-menu drop-menu">
                                <a href="/tovar" class="drop-menu-link door">Входные</a>
                                <a href="/tovar" class="drop-menu-link door">Входные двери</a>
                                <a href="/tovar" class="drop-menu-link door">Входные двери Thermo65</a>
                            </nav>
                            <nav class="sub-menu drop-menu">
                                <a href="/tovar" class="drop-menu-link door">Входные двери </a>
                            </nav>
                        </div>
                    </div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link  menu-link" href="/stock">Акции</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link  menu-link" href="/all-news">Новости</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link  menu-link" href="/about-us">О нас</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link  menu-link" href="/gallery">Галерея</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link menu-link" href="/contact">Контакты</a>
                </li>
            </ul>
            <div class="header-link-wrap">
                <a href="tel:+38 (096) 123 45 67" class="call-link menu-link">+38 (096) 123 45 67</a>
                <a href="#" class="leng-link menu-link">RU</a>
            </div>
        </div>
    </nav>
</section>
<!--navbar mobile section-->
<section>
    <nav class="navbar navbar-expand-xl navbar-light bg-white fixed-top my-navbar-mob">
        <div class="my-navbar-mob-link-wrap">
            <button class="navbar-toggler main-menu-btn-wrap" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="mob-sub-menu-button main-menu-btn ">
                    <span></span>
                    <span></span>
                </span>
            </button>
            <a class="navbar-brand align-self-sm-center navbar-brand-mob" href="/">
                <img class="navbar-brand-img" src="/public/img/logo_svg.svg" >
            </a>
            <a href="tel:+38 (096) 123 45 67">
                <img src="/public/img/call-mob.png" alt="">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item mob-menu-item">
                    <div class="supper-button-wrap">
                        <a href="/category" class="nav-link mob-menu-link">Приватные</a>
                        <nav class="mob-sub-menu-button supper-btn">
                            <span></span>
                            <span></span>
                        </nav>
                    </div>
                    <ul class="mob-drop-menu">
                        <li class="sub-button-wrap">
                            <a href="/pod-category" class="nav-link mob-menu-link mar-30">Ворота</a>
                            <nav class="mob-sub-menu-button">
                                <span></span>
                                <span></span>
                            </nav>
                        </li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                    </ul>
                    <ul class="mob-drop-menu">
                        <li class="sub-button-wrap">
                            <a href="/pod-category" class="nav-link mob-menu-link mar-30">Ворота</a>
                            <nav class="mob-sub-menu-button">
                                <span></span>
                                <span></span>
                            </nav>
                        </li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                    </ul>
                    <ul class="mob-drop-menu">
                        <li class="sub-button-wrap">
                            <a href="/pod-category" class="nav-link mob-menu-link mar-30">Ворота</a>
                            <nav class="mob-sub-menu-button">
                                <span></span>
                                <span></span>
                            </nav>
                        </li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                    </ul>
                </li>
                <li class="nav-item mob-menu-item">
                    <div class="supper-button-wrap">
                        <a href="/pod-category" class="nav-link mob-menu-link">Промышленные</a>
                        <nav class="mob-sub-menu-button supper-btn">
                            <span></span>
                            <span></span>
                        </nav>
                    </div>
                    <ul class="mob-drop-menu">
                        <li class="sub-button-wrap">
                            <a href="/pod-category" class="nav-link mob-menu-link mar-30">Ворота</a>
                            <nav class="mob-sub-menu-button">
                                <span></span>
                                <span></span>
                            </nav>
                        </li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                    </ul>
                    <ul class="mob-drop-menu">
                        <li class="sub-button-wrap">
                            <a href="/pod-category" class="nav-link mob-menu-link mar-30">Ворота</a>
                            <nav class="mob-sub-menu-button">
                                <span></span>
                                <span></span>
                            </nav>
                        </li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                    </ul>
                    <ul class="mob-drop-menu">
                        <li class="sub-button-wrap">
                            <a href="/pod-category" class="nav-link mob-menu-link mar-30">Ворота</a>
                            <nav class="mob-sub-menu-button">
                                <span></span>
                                <span></span>
                            </nav>
                        </li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                        <li class="mob-drop-menu-item"><a href="/tovar" class="nav-link mob-menu-link mob-drop-menu-link">Гаражных ворот</a></li>
                    </ul>
                </li>
                <li class="nav-item mob-menu-item"><a class="nav-link mob-menu-link" href="/stock">Акции</a></li>
                <li class="nav-item mob-menu-item"><a class="nav-link mob-menu-link" href="/all-news">Новости</a></li>
                <li class="nav-item mob-menu-item"><a class="nav-link mob-menu-link" href="/about-us">О нас</a></li>
                <li class="nav-item mob-menu-item"><a class="nav-link mob-menu-link" href="/gallery">Галерея</a></li>
                <li class="nav-item mob-menu-item"><a class="nav-link mob-menu-link" href="/contact">Контакты и сервис</a></li>
            </ul>
            <a href="#" class="leng-link-mob">English</a>
        </div>
    </nav>
</section>